<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="fragment/header"/>
    <title>글 보기</title>
</head>
<body>
<th:block th:insert="fragment/bodyHeader"/>

<div class="d-grid justify-content-center">
    <div class="container-fluid border" style="width:400px" th:object="${board}">
            <label>제목:</label>
            <h4 class="border" th:text="${board.title}"></h4>
            <label>내용:</label>
            <p class="border" th:text=${board.boardContent}></p>
    </div>

    <div class="card border" style="width:400px">
        <div class="card-body">
            <label class="border" for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            <a href="#" class="btn btn-primary">댓글 달기</a>
        </div>
    </div>
</div>
</body>
</html>