<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="fragment/header"/>
    <title>글 보기</title>
</head>
<body>
<th:block th:insert="fragment/bodyHeader"/>

<div class="container">
    <div  th:object="${board}">
            <div><h4>제목: <span class="border" th:text="${board.title}"/></h4></div>
            <div>내용:</div>
            <div>
                <p class="border" th:text=${board.boardContent}></p>
            </div>
    </div>

    <div class="card">
        <div class="card-body">
            <label class="border" for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            <a href="#" class="btn btn-primary">댓글 달기</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">댓글 리스트</div>
        <ul id="reply-box" class="list-group">
        </ul>
    </div>
</div>
</body>
</html>