<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="fragment/header"/>
    <title>글 보기</title>
</head>
<body>
<th:block th:insert="fragment/bodyHeader"/>

<div class="container-fluid d-flex justify-content-center">
    <div class="container-fluid" style="width:400px" th:object="${board}">
            <label>제목:</label>
            <h4 th:text="${board.title}"></h4>
            <label>내용:</label>
            <p th:text=${board.boardContent}></p>
    </div>

    <div class="card" style="width:400px">
        <div class="card-body">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
        </div>
    </div>
</div>
</body>
</html>